.section_{
    width: 100%;
}
.icon_container{
    width: 100%;
}
.icon_container img{
    object-fit: cover;
}
.intro h1{
    font-size: 3rem;
    font-weight: 800;
}
.intro p{
    width: 90%;
    font-size: 1.3rem;
}
.intro button{
    padding: .5rem 1rem;
    border: none;
    outline: none;
    font-size: 1.5rem;
    background-color: hsl(180, 66%, 49%);
    color: #fff;
    font-weight: 600;
}
.create_links{
    width: 100%;
}
.get_Link{
    background-color: hsl(257, 27%, 26%);
    width: 90%;
}
.get_Link input, .get_Link button {
    width: 90%;
    outline: 0;
    padding: .4rem .8rem;
    font-size: 1.3rem;

}
.get_Link button{
    background-color: hsl(180, 66%, 49%);
    color: #fff;
    font-weight: 600;
}
.get_Link p{
    width: 90%;
    text-align: left;
    color: red;
    font-family: inherit;
}
.result_link{
    background-color: #fff;
    width: 90%;
}
.result_link span{
    font-size: 1.3rem;
    overflow-x: hidden;
    width: 100%;
}
.short_link{
    color: hsl(180, 66%, 49%);
}
.result_link button{
    background-color: hsl(180, 66%, 49%);
    color: #fff;
    font-weight: 600;
    font-size: 1.3rem;
    padding: .4rem .8rem;
    outline: 0;
    width: 95%;
}
.statistics{
    width: 100%;
}
.statistics>div{
    width: 100%;
}
.statistics .advance, .three_things>div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.advance h1{
    font-weight: 700;
}
.advance p , .three_things>div>p{
    color: grey;
    font-weight: 550;
}
.three_things >div>img{
    padding:.6rem 1.1rem;
    border-radius: 50%;
    background-color: hsl(257, 27%, 26%);
    position: absolute;
    top: -10%;

}
.three_things>div{
    width: 90%;
    background-color: #fff;
    position: relative;
    margin-top: 2rem;
    border-radius: 15px;
}
@media(min-width:992px){
    .main{
        padding-left: 2.4rem;
    }
    .icon_container {
        width: 50%;
    }
    .D_intro{
        width: 45%;
    }
    .D_intro h1{
        font-weight: 700;
        font-size:3.5rem;
    }   
    .D_intro button{
        font-weight: 700;
        background-color: hsl(180, 66%, 49%);
        cursor: pointer;
        outline: none;
    }
    .get_Link input{
        width: 75%;
    }
    .get_Link button{
        width: 15%;
    }
    .result_link .original_link{
        width: 45% !important;
        color: red;
        text-wrap: nowrap;
        border-bottom: none !important;
    }
    .result_link .short_link{
        width: 30% !important;
    }
    .result_link button{
        width: 10%;
        font-size: 1.3rem !important;
    }
    .advance{
        width: 40% !important;
        text-align: center;
    }
    .advance h1{
        font-size: 1.8rem !important;
    }
    .advance p{
        font-size:1rem !important;
    }
    .three_things >div{
        width: 28% !important;
        padding-bottom: 2.5rem;
        border: 1px solid rgb(230, 230, 230);
    }
    .three_things>div>h1{
        width: 100%;
        margin-bottom: 1rem;
        font-size: 1.4rem !important;

    }
    .three_things>div>p{
        margin-bottom: 1rem;
        font-size: .7rem !important;
        text-align: left !important;

    }
    .three_things >div>img{
        padding: .5rem .7rem !important;
    }
    .detail{
        transform: translateY(10%);
    }
    .fully{
        transform: translateY(20%);
    }
}