.footer{
    width: 100%;
}
.boost_L {
    width: 100%;
    height: 20vh;
    overflow: hidden;
    background-color:hsl(257, 27%, 26%) ;
}
.boost_L img{
    width: 100%;
}
.boo_get button{
    font-size: 1.4rem;
    padding: .6rem 1.4rem;
    background-color: hsl(180, 66%, 49%);
    font-weight: 600;
}
.about{
    background-color: hsl(260, 8%, 14%);
    width: 100%;
}
.about >h2{
    font-weight: 600;
    font-size: 2.2rem;
    text-align: center;
}
.about>ul{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0;
    margin-top: 2rem;
}
.about>ul>span{
    font-size: 1.3rem;
    color: #fff;
    font-weight: 600;
}
.about>ul>li{
    margin-top: 1rem;
    color: grey;
}
.social img{
    margin-left: 1rem;
    margin-right: 1rem;

}
@media(min-width:992px){
    .boost_L{
        height: 35vh !important;
        overflow: hidden;
    }
    .boo_get h1{
        font-weight: 700;
    }
    .boo_get button{
        transition: all .5s ease;
        font-weight: 660 !important;
    }
    .boo_get button:hover{
        background-color: hsl(180, 100%, 78%);
    }
    .social{
        width: 20% !important;
    }
    .about>ul{
        margin-top: 0 !important;
        padding-top: 1rem;
    }
    .about>ul>li{
        transition: all .7s ease;
    }
    .about>ul>li:hover{
        color: hsl(180, 100%, 78%);
    }
}